@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

@font-face {
    font-family: "Android";
    src: url(fontes/idroid.otf);
    font-weight: normal;
}
* {
    padding: 0px;
    margin: auto;
}   
:root {
    --cor0:#9E1000;
    --cor1:#FF3019;
    --cor2:#EB1700;
    --cor3:#009E4B;
    --cor4:#00EB70;
    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: font-family: 'Fredericka the Great', cursive;
    --font-Android: "Android", cursive;
}
header {
    min-height: 150px;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.534);
    text-align: center;
    color: white;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor4));
    padding-top: 2px;
}
main {
    max-width: 810px;
    min-width: 320px;
    padding: 10px;
    background-color: white;
    border-radius: 0px 0px 4px 4px;   
}
main > article > h2 {
    color: var(--cor0);
    font-family: var(--font-Android);
}
main > article > p {
    padding-left: 1px;
    padding-right: 1px;
}
main img {
    width: 100%;
}
main img.pequena {
    width: 50%;
    display: block;
    margin: auto;
}
body > header > h1 {
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.651);
    margin-top: 14px;
    margin-bottom: 25px;
    color: white;
    font-family: var(--font-Android);
    font-size: 2.5em;
}
body > header > p {
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.548);
    font-size: var(--font-padrao);
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
}
body > nav {
    border: 0px 0px 2px 2px;
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor3));
    width: 1200;
    height: 40px;
    padding: 6px; 
}
nav > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 2px;
    font-size: 1.2em;
    transition-duration: 0.4s;
    max-width: 600px;
    min-width: 320;
    margin: auto;
}
nav > a:hover {
    border-radius: 3px;
    background-color: #009E4B;
    color: var(--cor2);
}
body {
    background-color: #00e66842;
    font-family: var(--font-padrao);
}
h1 {
    color: var(--cor0);
    font-family: var(--font-Android);
}
h2 {
    background-color:var(--cor4);;
    border-radius: 4px;
    font-family: var(--font-Android);
}
aside {
    background-color: #02f55770;
    border-radius: 5px;
    
}
aside > h3 {
    color: var(--cor0);
    background-color: var(--cor4);
    border-radius: 5px 5px 0px 0px;
}
aside > ul {
    padding-left: 20px;
    padding-right: 20px;
}
footer {
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.541);
    color: white;
    background-color:#00A83B;

}
